#playlists-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#playlists-page > h1 {
    font-size: 3em;
}

.playlists-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.playlist-card {
    background-color: var(--color-bg-light);
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
    width: 80vw;
    max-width: 30em;
    text-align: center;
}

.playlist-card h2 {
    font-size: 2em;
    margin: 0;
}

.playlist-card p {
    font-size: 1.2em;
}

.playlist-card h2 a {
    color: var(--color-text-primary);
}

.add-playlist-form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 1em;
}

.add-playlist-form label {
    font-size: 1em;
    display: flex;
    flex-direction: column;
}

.add-playlist-form input {
    padding: 0.5em;
    font-size: 1.5em;
}

.add-playlist-form textarea {
    padding: 0.5em;
    font-size: 1.2em;
    resize: vertical;
}

.add-playlist-form button {
    padding: 0.5em 1em;
    font-size: 1em;
    border: 2px solid var(--color-text-secondary);
    border-radius: 0.5em;
    background-color: white;
    cursor: pointer;
}
