.stat-card {
    background-color: var(--color-bg-light);
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
    min-width: 10em;
    text-align: center;
}

.stat-card > strong {
    display: block;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
